* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  z-index: 1;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url("./team_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
 
}

.helper {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}
.imag {
  width: 16rem;
  height: 20rem;
}
.imag img {
  width: 16rem;
  height: 25rem;
}
.adjust {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.jugad {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.heading {
  margin-top: 3rem;
  box-shadow: 1rem 1rem 2rem white;
}

.space {
  margin: 3rem 0rem 3rem 0rem;
}

.space img {

  height: 4rem;
  width: 5rem;
  color: black;
}
.heading p {
  font-size: 3rem;
  color: white;
 
}
